<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href= "https://www.youtube.com/watch?v=9bwSe5ITwRE" target="_blank">
          <img class="d-block w-100" src="../assets/camiches.jpeg" alt="First slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href= "https://www.youtube.com/watch?v=LkHKnXQUxYk" target="_blank">
        <img class="d-block w-100" src="../assets/smile.jpeg" alt="Second slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href= "https://www.youtube.com/watch?v=lic0oCDMfwk" target="_blank">
            <img class="d-block w-100" src="../assets/california.jpg" alt="Third slide">
        </a>    
      </div>
    </div>
  </div>